@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&family=Quando&display=swap');

$font-family: "Quando", "Open Sans", sans-serif;
$font-family-b: "Judson", serif;


/*$background-colour: #333333;
$box-colour: #111111;
$text-colour: #bbbbbb;*/

:root {
    --background-colour: #333333;
    --mane-grad-left: linear-gradient(to right, #662d8a 33.33%, #ed438d 33.33% 66%, #273873 33% 66%);
    --mane-grad-right: linear-gradient(to right, #273873 33.33%, #ed438d 33.33% 66%, #662d8a 33% 66%);
    --text-colour: #bbbbbb;
    --box-colour: #111111;
    --background-pattern: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.05' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    --border-colour: #bbbbbb;
    --search-colour: #bbbbbb;
    --search-text-colour: #111111;
    --button-colour: #bbbbbb;
    --button-text-colour: #111111;
    --button-border-colour: #111111;
    --head-text-colour: #bbbbbb;
    --aside-colour: #333333;
    --aside-text-colour: #bbbbbb;
}

html[data-theme='light'] {
    --background-colour: #eeedb4;
    --mane-grad-left: linear-gradient(to right, #ecbb48 33.33%, #e68c40 33.33% 66%, #cb502d 33% 66%);
    --mane-grad-right: linear-gradient(to right, #cb502d 33.33%, #e68c40 33.33% 66%, #ecbb48 33% 66%);
    --box-colour: #ede8ed;
    --text-colour: #000000;
    --background-pattern: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23cb502d' fill-opacity='0.05' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    --border-colour: #ecbb48;
    --search-colour: #eeedb4;
    --search-text-colour: #111111;
    --button-colour: #cb502d;
    --button-text-colour: #ede8ed;
    --button-border-colour: #cb502d;
    --head-text-colour: #000000;
    --aside-colour: #cb502d;
    --aside-text-colour: #ede8ed;

}

html[data-theme='dark'] {
    --background-colour: #0c0319;
    --mane-grad-left: linear-gradient(to right, #471785 33.33%, #4a53bc 33.33% 66%, #6888f7 33% 66%);
    --mane-grad-right: linear-gradient(to right, #6888f7 33.33%, #4a53bc 33.33% 66%, #471785 33% 66%);
    --box-colour: #030f0d;
    --text-colour: #a3a3a3;   
    --border-colour: #471785;
    --search-colour: #eeeeee;
    --search-text-colour:  #030f0d;
    --button-colour: #6888f7;
    --button-text-colour: #eeeeee;
    --button-border-colour: #471785;
    --head-text-colour: #eeeeee;
    --aside-colour: #6888f7;
    --aside-text-colour: #eeeeee;
  }

body, #root, .App {
	z-index: -10000000;
	position: relative;
	margin: 0;
	font-family: #{$font-family};
	font-size: 1.1rem;
}

body {
	background-color: var(--background-colour);
	background-image: var(--background-pattern);
	color: var(--text-colour);
}

body, html {
	height: 100%;
}

.App {
	overflow: visible;
	min-height: 100vh;
	width: 80%;
	max-width: 80rem;
	margin: 0 auto;
	background-color: var(--box-colour);
	border-right: 1px solid var(--border-colour);
	display: -webkit-flexbox;
    display: -webkit-flex;
    display: flex;
    min-height: 95vh;
    -webkit-flex-direction: column;
    flex-direction: column;
}

header {
	padding-left: 1rem;
	display: flex;
	flex-flow: row-reverse wrap;
	justify-content: space-between;

	h1 {
		margin-left: 1rem;
		margin-right: auto;
		font-family: #{$font-family};
		margin-top: 1rem;
		color: var(--head-text-colour)
	}

	aside {
		height: 1.7rem;
		padding: .5rem .5rem .5rem .7rem;
		border-top: none;
		border-right: none;
		border-radius: 0 0 0 10px;
		text-align: center;
		background-color: var(--aside-colour);
		color: var(--aside-text-colour);
		display: block;
		width: 5rem;
		white-space: nowrap;
		
	}
}

footer {
	padding: 0 2rem 0 2rem;
	font-size: 1rem;
}



p {
	font-family: #{$font-family-b};
}

small {
		font-family: #{$font-family-b};
		font-size: 1.1rem;
	}

a:link {
  color: inherit;
}

/* visited link */
a:visited {
  color: inherit;
}

/* mouse over link */
a:hover {
  color: lightgray;
}

/* selected link */
a:active {
  color: var(--text-colour);
}

.search-bar {
	text-align: center;
	flex: 1 0 auto;
	padding: 0 1rem 1rem 1rem;

	input[type="search"] {
		height: 3rem;
		width: 70%;
		font-size: 1.5rem;
		background-color: var(--search-colour);
		color: var(--search-text-colour);
		padding-left: 1rem;
		margin-right: 0;
		border-radius: 10px;
		border: 2px solid var(--border-colour);
		border-color: var(--border-colour);


	}

	button {
		height: 3rem;
		padding: 0 .7rem;
		font-size: 1.5rem;
		margin-left: .5rem;
		background-color: var(--button-colour);
		color: var(--button-text-colour);
		cursor: pointer;
		border-radius: 10px;
		border: 2px solid var(--button-border-colour);
		font-family: #{$font-family-b};
	}
}

hr {
	border: 1px solid var(--text-colour);
}

.results-box {
	padding: 1rem;

	.line-box {
		max-width: 90%;
		margin: 0 auto 2rem auto;
		& > div {
			margin: .3rem 0 0 0;
		}
	}
}

.style-switch {
	button {
		all: unset;
		color: inherit;
		height: 1.5rem;
		width: 1.5rem;
		cursor: pointer;
		border-color: var(--box-colour);
		border-radius: 5px;
	}
}

.manebar {
		width: 1rem;
   	position: absolute;
   	top: 0px;
   	bottom: 0px;

   	&.left {
   		left: -.5rem;
   		background-image: var(--mane-grad-left);
   	}
   	&.right {
   		right: -.5rem;
   		background-image: var(--mane-grad-right);
   	}	
}

svg {
	position: relative;
	top: 2px;
}

@media screen and (max-width: 840px) {
	header {
		h1 {
			font-size: 1.7rem;
		}
	}
  .search-bar {
		input[type="search"] {
			width: 95%;
			font-size: 1.1rem;
		}

		button {
			margin-top: .5rem;
			margin-left: 0;
		}
	}
}