@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

$font-family: "Open Sans", sans-serif;

/*$background-colour: #333333;
$box-colour: #111111;
$text-colour: #bbbbbb;*/

:root {
    --background-colour: #333333;
    --mane-grad: linear-gradient(to right, #662d8a 33.33%, #ed438d 33.33% 66%, #273873 33% 66%);
    --text-colour: #bbbbbb;
    --box-colour: #111111;
}

html[data-theme='light'] {
    --background-colour: #eee;
    --mane-grad: linear-gradient(to right, #662d8a 33.33%, #ed438d 33.33% 66%, #273873 33% 66%);
    --box-colour: #ffffff;
    --text-colour: #000000;
}

html[data-theme='dark'] {
    --background-colour: #352e38;
    --mane-grad: linear-gradient(to right, #662d8a 33.33%, #ed438d 33.33% 66%, #273873 33% 66%);
    --box-colour: #1a0b20;
    --text-colour: #bbbbbb;

    
}

body, #root, .App {
	z-index: -10000000;
	position: relative;
	margin: 0;
	font-family: #{$font-family};
	font-size: 1.1rem;
}

body {
	background-color: var(--background-colour);
	background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.05' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
	color: var(--text-colour);
}

body, html {
	height: 100%;
}

.App {
	overflow: visible;
	min-height: 100vh;
	width: 80%;
	margin: 0 auto;
	background-color: var(--box-colour);
	padding: 1rem;
	display: -webkit-flexbox;
    display: -webkit-flex;
    display: flex;
    min-height: 95vh;
    -webkit-flex-direction: column;
    flex-direction: column;
}

footer {
	font-size: .7rem;
}

h1, p {
	font-family: #{$font-family};
}

a:link {
  color: var(--text-colour);
}

/* visited link */
a:visited {
  color: var(--text-colour);
}

/* mouse over link */
a:hover {
  color: lightgray;
}

/* selected link */
a:active {
  color: var(--text-colour);
}

.search-bar {
	width: 100%;
	text-align: center;
	flex: 1 0 auto;

	input[type="search"] {
		height: 3rem;
		width: 70%;
		font-size: 1.5rem;
		background-color: var(--text-colour);
		color: var(--box-colour);
		padding-left: 1rem;
	}

	button {
		height: 3rem;
		width:20%;
		max-width: 4rem;
		font-size: 1.5rem;
		margin-left: .5rem;
		margin-right:1rem;
		background-color: var(--text-colour);
		color: var(--box-colour);
		cursor: pointer;
	}
}

hr {
	border: 1px solid var(--text-colour);
}

.results-box {
	padding: 1rem;

	.line-box {
		margin: 0 0 2rem 0;
		& > div {
			margin: .3rem 0 0 0;
		}
	}
}

.style-switch {
	position: fixed;
	bottom: 1rem;
	right: 1rem;

	button {
		background-color: var(--text-colour);
		height: 1.5rem;
		width: 1.5rem;
		cursor: pointer;
		border-color: var(--box-colour);
		border-radius: 5px;
	}
}

#Manebar {
		width: 1rem;
   	position: absolute;
   	top: 0px;
   	right: 0px;
   	bottom: 0px;
   	left: -.5rem;
   	background-image: var(--mane-grad);
}